/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body, html{
  text-align: center;
  height: 100%;
  background: #f2efe9;
	font-family: 'Lato', sans-serif;
}


h1 {
	color: #d46543;
  font-size: 40px;
}


h2, h3, p {
	color: #636363;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#map {
  height: 512px;
  width: 100%;
}

